*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 , h2{
    font-weight: bold;
}
h1{
    font-size: 6rem;
}

.wrap{
    margin: auto;
}
.cabecera{
    position: relative;
    border: solid;
}
.cabecera h1,.cabecera h2 {
    position: absolute;
    color: #fff;
}
.cabecera h1 {
    top: 10%;
    left: 40%;
}
.cabecera h2{
    bottom: 30%;
    left: 10%;
    line-height: 2.2rem;
    margin-bottom: 0;
    text-align: left;
    border-radius: 10px;
    background-color: #7299FE80;
}
.cabecera figure img{
    display: block;
    width: 100%;

}
.Sobre-mi{
    padding: 34px 32px 72px;
    background-color: #7299FE80;
    text-align: center;
}
.Sobre-mi h2{
    color:#1D06A7;
    text-align: center;
    font-size: 1,5rem;
    margin-bottom: 20px;
}
.Sobre-mi p{
    color:#fff;
    margin-bottom: 20px;
}
.Sobre-mi button{
    background-color: #D16FFF;
    box-shadow: 10px 2px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display:block;
    width: 187px;
    height: 3rem;
    font-size: 20px;
   font-weight: bold;
   color: #fff
}

.Mis-skills{
    padding: 30px 40px 70px 40px;
    background-color: #9022FF;
    width: 100%;
}
.skills-list {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skills-list progress{
    align-items: center;
    display: inline-block;
    height: 1em;
    width: 10em;
    flex-wrap: wrap;
    padding: 10px;
}
.Mis-skills h2{
    text-align: center;
    font-size: 1.5rem;
}
.skills-list .list-1 {
    font-size: 20px;
}
.skills-list .list-2 {
    font-size: 20px;
}
.portafolio{
    padding: 34px 176px 94px;
    background-color: #ffd233;
}
.portafolio h2{
    text-align: center;
    margin-bottom: 38px;
}
.portafolio images{
    display: flex;
    flex-wrap: wrap;
}
.portafolio figure img{
    margin: 4px;
}
.portafolio figure img:hover{
    border: solid 1px yellow;
}