@import url(https://fonts.google.apis.com/css2?family=Poppins:wght@400;500;600&display=swap);

*, html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}
h2{
    font-size: 3rem;
}
p{
    color: rgb(164 167 170);
    font-size: 14px;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}
header nav{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-top: 0.9em;
    align-items: center;
}
header img{
    height: 20px;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

.try_btn{
    height: 35px;
    font-size: 15px;
    padding: 0 20px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px,0px;
    font-weight: 600;
}
.hero{
    background: url(./images/bg-hero-mobile.svg) #edfbfe;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 2rem 0 2.5rem;
    justify-content: center;
    display: flex;
}
.u_wrapper{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}
.u_wrapper > div{
    flex: 50%;
}
.hero .hero_image img{
    width: 90%;
}
.hero .hero_content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero .hero_content h1{
    margin-top: 50px;
    font-size: 1.8rem;
}
.hero .hero_content h2, p {
    text-align: center;
}
.hero .hero_button{
    background-color: hsl(322, 100%, 60%);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0 50px;

}

.Sect{
    display: flex;
    box-shadow: 1px 1px 6px #010144;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.logo{
    padding-top: 20px;
    width: 100%;
}
.Sect {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 75px;
    width: 100%;
  }
  .Sect-1, .Sect-2, .Sect-3 {
    display: flex;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 1px 0.4px rgb(177, 174, 174);
    padding: 50px 25px 50px 25px;
    margin: 25px 75px 25px 75px;
  }
  .Sect-text1,.Sect-text2,.Sect-text3{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .Sect-1 h2 {
    order: 1;
  }
  .Sect-1 p {
    order: 2;
  }
  .Sect-1 img {
    order: 3;
  }
  .Sect-3 h2 {
    order: 1;
  }
  .Sect-3 p {
    order: 2;
  }
  .Sect-3 img {
    order: 3;
  }
  .titulo-parrafo {
    display: flex;
    width: 60%;
  }
  .Sect div h2 {
    font-size: 16px;
    color: #000;
    padding-left: 75px;
    padding-right: 75px;
  }
  .Sect div p {
    padding-left: 75px;
    padding-right: 75px;
    font-size: 16px;
    color: rgb(142, 142, 142);
    margin-bottom: 25px;
    margin-top: 25px;
    order: 1;
  }

  .Sect img {
    width: 300px;
    text-align: center;
  }
  .pre-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: -180px;
  }
  .pre-footer div {
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 1px 0.3px rgb(156, 156, 156);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #fff;
    z-index: 1;
  }
  .pre-footer div h2 {
    padding-left: 75px;
    padding-right: 75px;
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .boton-final {
    padding: 20px 75px 20px 75px;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    border: 2px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 45px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
  }
footer {
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 180px;
  }
  .logo-footer {
    filter: sepia(50) brightness(50);
    display: flex #fff;
    margin-left: 40px;
    height: 40px;
  }

  .footer-pt1 {
    width: 40%;
  }
  .footer-pt2 {
    width: 20%;
  }
  .footer-pt3 {
    width: 20%;
  }

  footer ul {
    list-style: none;
  }
  footer ul li {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-top: 20px;
  }
  footer ul li img {
    height: 20px;
    padding-right: 18px;
  }
  .footer-pt2 ul li {
    font-size: 18px;
  }
  .icons {
    width: 20%;
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 40px;
  }
  .icons li {
    padding: 5px;
  }
  .icons li ion-icon {
    height: 20px;
    width: 20px;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 8px;
  }
  .copyright {
    text-align: center;
    font-size: 12px;
    padding: 25px 0px 50px 0px;
    font-weight: 400;
    width: 100%;
  }